<!DOCTYPE html>
<html>
    <head>
        <title>Rocket simulation</title>
    </head>
    <body>
    <h2>Rocket simulation</h2>
        <p id="loading" style="display:none;">Generating graph... please wait.</p>

    <img src="{{ plot_url }}" alt="Rocket Plot">
    <form method="POST">


    <label>Mass (kg):</label>
    <input type="number" name="mass" value="{{ mass }}">

    <label>Thrust (N):</label>
    <input type="number" name="thrust" value="{{ thrust }}">

  

  <button type="submit">Run Simulation</button>
 </form>
  
 <script>
    const form = document.querySelector("form");

    form.addEventListener("submit", () => {
      document.getElementById("loading").style.display = "block";
    });
  </script>


    </body>
</html>